<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tfg.k_lendar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Klendar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.navigation.ui.subjects.ArchivedSubject"
            android:exported="false" />
        <activity
            android:name=".views.uf.NewUfActivity"
            android:exported="true"></activity>
        <activity
            android:name=".views.truancy.EditTruancyActivity"
            android:exported="false" />
        <activity
            android:name=".views.task.EditTaskActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.TaskTruancyActivity"
            android:exported="true"
            android:label="@string/title_activity_task_truancy"
            android:theme="@style/Theme.Klendar.NoActionBar" />
        <activity
            android:name=".views.navigation.NavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.MaterialComponents.DayNight" />
        <activity
            android:name=".views.auth.AuthActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>